<html>
    <head>
        <title>Опоздал на 2 дня</title>
    </head>

     <style>
        body {
            background-image: url(/static/mainPage/images/Paris.jpg);
            background-size 200px 300px;
            background-color: #9932CC;
            color : black;
        }
    </style>

    <body>
        <h1><font size="12", color =#008B00>Опоздал на 2 дня...</font></h1>
        <div>
            <h2><font size="10">Сегодня (10 марта)</font></h2>
            <p><font size="6">День нарушения причинно-следственных связей!!</font></p>
            <h2><font size="6", color=red>ANOTHER PYTHOOOON! ! !</font></h2>
        </div>
        <div>
            <img src="\static\mainPage\images\krasiviy.jpg" align="center" width=40% height =50% >
        </div>

    </body>
</html>