<html>
    <head>
        <title>Twin-head Python </title>
    </head>

     <style>
        body {
            background-image: url(/static/mainPage/images/FOOOOn.jpg) ;
            background-size : cover;
            background-color: #9932CC;
            color : #9400D3;
            background-repeat : no-repeat;
        }
    </style>

    <body>
        <div>
            <h2><font size="8", color=green>Какая удивительная зверушка!!<br><br></font></h2>
        </div>
        <div>
            <img src="\static\mainPage\images\twinHead.jpg" align="center" width=55% height =65% >
        </div>

    </body>
</html>