<html>
    <head>
        <title>Django Boy Site</title>
    </head>
    <body>
        <style>
        body {
            background-color: #4169E1; 
        }
    </style>
        <div>
            <h1>Django boy Site</h1>
            <img src="static\mainPage\images\rurinotori.jpg"  align="center" alt="here">
        </div>

        <div>
            <h2><a href="/page2">Ух тыыыы</a></h2>
            <p>Никогда бы не подумал, что это заработает</p>
            <h2><a href="/page3">PYTHOOOON!!!</a></h2>
            <img src="static\mainPage\images\PYTHONZELENYY.jpg" align="center">
        </div>

        <div>
            <h2><a href="/page1">А знаете ли вы, чтооо...</a></h2>
        </div>
    </body>
</html>